.sobreGeral{display: flex;background-color: #212121;}
.sobreGeral .sobreGeralDiv01{margin-right: 20px;display: flex;justify-content: center;align-items: center; flex-direction: column;  }
.sobreGeral .sobreGeralDiv01 div{width: 80%; margin:auto; margin-top: 140px; }
.sobreGeral .sobreGeralDiv01 div label{font-size: 30px;}
.sobreGeral .sobreGeralDiv01 div p{font-size: 20px;color:#ccc;}
.sobreGeral div:nth-child(2) img{float: right;}
.sobreGeral div{flex: 1;}